@import "bootstrap";

.link-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.about-me-container .avatar-container {
    width: 100%;
    height: 100%;
}

.about-me-container .avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-container .description {
    white-space: pre-wrap;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.work-case-description h3 {
    font-size: 1.5rem !important;
}

.pagination {
    --bs-pagination-color: var(--bs-dark);
    --bs-pagination-hover-color: var(--bs-dark);
    --bs-pagination-focus-color: var(--bs-dark);
    --bs-pagination-focus-box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .0);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--bs-dark);
    --bs-pagination-active-border-color: #000;
}

.card-custom .card-img-overlay {
    background: rgba(0, 0, 0, 0.55);
    color: var(--bs-light);
    backdrop-filter: blur(10px);
}

@media(max-width: 768px) {
    .card-img-top {
        height: auto;
    }
}
